*{
  font-family: 'Montserrat', sans-serif !important;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  background-color:rgb(249, 250, 251);
  -moz-osx-font-smoothing: grayscale;
}

a{
  text-decoration: none;
  color: white;
}